.footer-div {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); /* Cambia los colores a tu gusto */
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    position: sticky;
  
    span {
      display: block;
      font-family: sans-serif;
    }
  
    @media screen and (max-width: 768px) {
      padding: 0.5rem;
      font-size: 0.75rem;
    }
  }
  